<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/main.css">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/weather-icons.css">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/weather.css">
	<link rel="icon" href="data:;base64,iVBORw0KGgo=">
</head>

<body class="blackBody">
<p>test2</p>
{% include 'clock.html' %}
{% include 'weather.html' %}
{% include 'helloWord.html' %}
</body>
<script src="{{STATIC_URL}}js/main.js"></script>

</html>
