@charset "utf-8";
*{margin:0;padding:0;}
body{background:#f9f9f9;color:#000;font:15px Calibri, Arial, sans-serif;text-shadow:1px 2px 1px #FFFFFF;}
a,a:visited{text-decoration:none;outline:none;color:#fff;}
a:hover{text-decoration:underline;color:#ddd;}

/* clock */
#clock{position:relative;width:600px;height:600px;list-style:none;margin:20px auto;background:url('../images/clock.png') no-repeat center;}
#seconds,#minutes,#hours{position:absolute;width:30px;height:580px;left:270px;}
#date{position:absolute;top:365px;color:#666;right:140px;font-weight:bold;letter-spacing:3px;font-family:"微软雅黑";font-size:30px;line-height:36px;}
#hours{background:url('../images/hands.png') no-repeat left;z-index:1000;}
#minutes{background:url('../images/hands.png') no-repeat center;width:25px;z-index:2000;}
#seconds{background:url('../images/hands.png') no-repeat right;z-index:3000;}
